@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*=======================*/

body {
    box-sizing: border-box;
    text-align: center;
    font-family: 'Open Sans',serif;
}

section {
    white-space: nowrap;
}

.section-header {
    min-height: 200px;
    background-color: #8d99a5;
    position: relative;
}

.title-container {
    height: 100px;
    background-color: #8c9197;
    width: 40%;
    min-width: 240px;
    float: left;
    padding: 50px 0;
}

.search-container {
    height: 100px;
    background-color: #b2b9c0;
    width: 30%;
    min-width: 240px;
    float: right;
    padding: 50px 0;
}


.section-menu {
    display: flex;
    height: 80px;
    background-color: #797b7d;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.section-pic {
    height: 250px;
    width: 100%;
    background-image: url("../images/seeds1.jpg");
    background-color: white;
    position: relative;
}

.section-choice {
    height: 200px;
    background-color: #5b5c5e;
    display: flex;
}

.section-info {
    min-height: 400px;
    background-color: dimgrey;
    padding: 75px 0;
}

.section-news {
    height: 300px;
    background-color: #d9dbe0;
    padding: 75px 0;
}

.section-support {
    min-height: 100px;
    background-color: #a5a6a9;
    display: flex;
}

.section-footer {
    height: 200px;
    background-color: #969698;
    display: flex;
}

.background-title {
    height: 50px;
    background-color: #a0a1a3;
    position: absolute;
    left: 0;
    bottom: 25px;
    width: 40%;
    min-width: 240px;
    padding: 25px 0;
}

.navigation1 {
    width: 33.33%;
    height: 100px;
    background-color: #98999b;
    padding: 50px 0;
    }

.navigation2 {
    width: 33.33%;
    height: 100px;
    background-color: #cacacc;
    padding: 50px 0;
}


.navigation3 {
    width: 33.32%;
    height: 100px;
    background-color: #a5a8ae;
    padding: 50px 0;
}

.support {
    width: 60%;
    height: 100px;
    background-color: #727374;
    padding: 50px 0;
}

.contribute {
    width: 40%;
    height: 100px;
    background-color: #797b7d;
    padding: 50px 0;
}

.social {
    width: 50%;
    height: 100%;
    background-color: #626365;
    padding: 50px 0;
}

.contact {
    width: 25%;
    height: 100%;
    background-color: #babec7;
    padding: 50px 0;

}


.link {
    width: 25%;
    height: 100%;
    display: inline-block;
    background-color: #cbd0da;
    padding: 50px 0;
}



ul {
    list-style-type: none;
    margin: 0 auto;
}

li {
    float: left;
    display: block;
    height: 100px;
    padding: 32px;
    text-align: center;
    color: white;
    cursor: pointer;
}

    li:hover {
        background-color: white;
        color: #000;
    }


@media only screen and (max-width : 640px) {
    /* STYLES GO HERE */
    .title-container, .search-container, .navigation1, .navigation2, .navigation3, .support, .contribute, .social, .contact, .link {
        width: 100%;
    }

    .section-choice, .section-support, .section-footer {
        display: inherit;
    }

    .title-container, .search-container {
        float: none;
    }

    .section-menu {
        position: inherit;
    }
}
