.type {
    background-color: #dccaa4;
    border-radius: 10px 10px 10px 4px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    box-shadow: 7px 7px 7px 7px grey;
    text-decoration: none;
    text-align: center; 
    width: 650px;
    
}


