.type {
    background-color: #FFFFCC;
    opacity: 0.8;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    width: 250px;
    margin: 0 auto;
    margin-top: 10px;
    box-shadow: 7px 7px grey;
}